*{margin: 0;}

html{font-size: 10px;}
body{font-size: 1rem;}
a{text-decoration: none;color: #ffffff;}

header{height: 7.2rem;}
header > nav{margin: auto;display: flex;justify-content: space-between;align-items: center;}
header > nav > .logo{display: inline-block;padding: 1.2rem 0rem 0.8rem 4.0rem;}
header > nav > .menu{display: inline-block;padding-right: 4.0rem; margin-top: 10px;}

header > .nav_menu{position: relative;display: none;}
header > .nav_menu > ul{display: inline-block;width: 100%;padding: 0rem 0rem;}
header > .nav_menu > ul > li{list-style: none;text-align: right;background-color: #000000;padding: 1.3rem 2.3rem;border-bottom: 0.7px solid #fff;}
header > .nav_menu > ul > li > a{font-family: 'Noto Sans KR', sans-serif;font-size: 1.6rem;font-weight: 500;}

header > .nav_menu.active{display: flex;}

section > .top{background-image: url('../img/m_i_04_keyvisual.png');height: 100rem;text-align: center;}
section > .top > img{padding-top: 10.5rem;}

section > .profile{background-image: url('../img/m_i_05_pro_back.png');height: 157.7rem;text-align: center;}
section > .profile > .pf_01{padding-top: 5.0rem;}
section > .profile > .pf_02, .pf_03, .pf_04{margin-top: 3.7rem;}


footer{background-color: #ffffff;height: 16.1rem;text-align: center;}
footer > img{padding-top: 90rem;}
footer > .footer01{padding-top: 590rem;}
footer > .footer02{padding-top: 5rem;}
footer > .footer03{padding-top: 0.5rem;}


/*--서브01--*/
section > .sub_01_top{background-image: url('../img/m_s01_02.png');height: 100rem;text-align: center;}
section > .sub_01_top > img{padding-top: 2.5rem;}
section > .sub_01_cont{background-color: #ffffff;height: 200rem;text-align: center;}
section > .sub_01_cont > img{padding-top: 5rem;}
/*--서브02--*/
section > .sub_02_top{background-image: url('../img/m_s02_02.png');height: 100rem;text-align: center;}
section > .sub_02_top > img{padding-top: 5.0rem;}
section > .sub_02_cont{background-color: #ffffff;height: 100rem;text-align: center;}
section > .sub_02_cont > img{padding-top: 2.5rem;}
/*--서브03--*/
section > .sub_03_top{background-image: url('../img/m_s03_02.png');height: 100rem;text-align: center;}
section > .sub_03_top > img{padding-top: 10rem;}
section > .sub_03_cont{backgroundx-image: url('../img/m_s03_04.png');height: 83.1rem;text-align: center;}
section > .sub_03_cont > img{padding-top: 2.5rem;}
/*--서브04--*/
section > .sub_04_top{background-image: url('../img/m_s04_02.png');height: 100rem;text-align: center;}
section > .sub_04_top > img{padding-top: 5.0rem;}
section > .sub_04_cont{background-color: #ffffff;height: 140.3rem;text-align: center;}
section > .sub_04_cont > img{padding-top: 2.5rem;}
/*--서브05--*/
section > .sub_05_top{background-image: url('../img/m_s05_02.png');height: 100rem;text-align: center;}
section > .sub_05_top > img{padding-top: 5.0rem;}
section > .sub_05_cont{background-color: #ffffff;height: 80.1rem;text-align: center;}
section > .sub_05_cont > img{padding-top: 2.5rem;}
